// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#rect
{
    position: relative;
    widows: 30px;
    height: 300px;
    background-color: silver;

    div.block
    {
        position: absolute;
        widows: 50px;
        height: 50px;
        border: 2px solid black;
        background-color: white;
        cursor: pointer;
    }
}